{{- /*
  True when the note contributes flashcards (review opt-in or card shortcodes).
*/ -}}
{{- $page := . -}}
{{- $has := false -}}
{{- $reviewTag := site.Params.notes.review_tag | default "flashcard" -}}
{{- $isReview := or (eq ($page.Params.review | default false) true) (in ($page.Params.tags | default slice) $reviewTag) -}}
{{- if and $isReview (gt (len (partial "notes/cards-for-page.html" $page)) 0) -}}
  {{- $has = true -}}
{{- else if findRE `\{\{[%<]\s*card\s+front="` $page.RawContent -}}
  {{- $has = true -}}
{{- end -}}
{{- return $has -}}
