{{- /*
  Flatten note frontmatter fields used by site search.
*/ -}}
{{- $page := . -}}
{{- $shareable := slice -}}
{{- with $page.Params.shareable_thought -}}
  {{- range . -}}
    {{- with strings.TrimSpace . -}}
      {{- $shareable = $shareable | append . -}}
    {{- end -}}
  {{- end -}}
{{- end -}}
{{- $rels := slice -}}
{{- with $page.Params.relationships -}}
  {{- range . -}}
    {{- $rels = $rels | append (printf "%s %s %s" .type .wikilink .reason) -}}
  {{- end -}}
{{- end -}}
{{- return dict
  "keyConcept" (strings.TrimSpace ($page.Params.key_concept | default ""))
  "shareableThought" (delimit $shareable " ")
  "relationships" (delimit $rels " ")
-}}
