{{ define "main" }}

  {{ partial "page-title.html" . }}

  <!-- blog -->
  <section class="section">
    <div class="container">
      <div class="row">
        {{ range .Data.Pages.ByDate.Reverse }}
        <div class="col-lg-4 col-sm-6 mb-4">
          <article class="card shadow">    



{{ if .Params.Image }}
{{     $original := .Params.Image }}


{{     $originalImg := resources.Get ($original) }}
{{     if $originalImg  }}
{{         $thumbnailImg := $originalImg.Fill "570x350 center" }}
<a href="{{.Permalink}}">
<img class="rounded card-img-top" src="{{ $thumbnailImg.RelPermalink | safeHTML }}" alt="post-thumb">
</a>
{{     end }}
{{ end }}

            <div class="card-body">
              <h4 class="card-title"><a class="text-dark" href="{{.Permalink}}">{{.Title }}</a>
              </h4>
{{/*
              <p class="card-text">{{.Summary}}</p>
              <a href="{{.Permalink}}" class="btn btn-xs btn-primary float-right">Read More</a>
*/}}
            </div>
          </article>
        </div>
        {{ end }}
      </div>
    </div>
  </section>
  <!-- /blog -->

{{/*

  <!-- clients -->
  <section class="section bg-light">
    <div class="container">
      <div class="row">
        <div class="col-12 text-center">
          <h2 class="section-title">My Clients</h2>
        </div>
      </div>
      {{ partial "client-slider.html" . }}
    </div>
  </section>
  <!-- /clients -->

*/}}

{{ end }}
