<section class="section section--blog-list">
    <div class="container">
        <div class="row gx-5">
            <!-- blog posts -->
            <div class="lg:col-12">
                <div class="row">
                    <h2 class="text-center text-5xl font-bold mb-10">Latest Blog Posts</h2>
                    {{ $blogPages := where site.RegularPages "Section" "blog" }}
                    {{ $sortedPages := $blogPages.ByDate.Reverse }}
                    {{ $recentPosts := first 9 $sortedPages }}
                    {{ range $recentPosts }}
                    <div class="md:col-4 mb-14">
                        {{ partial "components/blog-card" . }}
                    </div>
                    {{ end }}
                </div>
            </div>
        </div>
    </div>
</section>