<!--
{{/*

    Usage:
    {{< youtube-btn woJRmoB8DfA 69TsOhl >}}

*/}}
-->

<a href="https://www.youtube.com/watch?v={{ .Get 0 }}" target="_blank" class="youtubebtn">

    <div>

        <video autoplay="" muted="" loop="" playsinline="">

            <source class="lazy" data-src="https://i.imgur.com/{{ .Get 1 }}.mp4" type="video/mp4"
                src="https://i.imgur.com/{{ .Get 1 }}.mp4">

        </video>

    </div>

    <p class="text-center">Click to watch with sound on Youtube</p>

</a>

<style>
    .youtubebtn {
        position: relative;
    }

    .youtubebtn:hover div::after {
        opacity: 1;
    }

    .youtubebtn div {
        position: relative;
    }

    .youtubebtn div::after {
        content: "";
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        border-radius: 18px;
        background: url("../img/unmute.png");
        background-repeat: no-repeat;
        background-position: 3% 96%;
        background-size: 150px;
        opacity: 0.7;
    }

    .youtubebtn video {
        position: relative;
        margin: 0;
        border-radius: 8px;
    }

    .youtubebtn .text-center {
        font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
        font-size: 15px;
    }

    .youtubebtn .text-center::after {
        content: "";
    }
</style>